*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.table-responsive{
    width: 100% !important;
  }
  
  .table {
      border: 1px solid rgb(250, 247, 247);
      width: 50% !important; /*Importante manter o !important rs */
      margin: auto;
      color: #fffefe;
      
  }
  
  .table-status {
      margin-top: 20px;
      margin-bottom: 20px !important;
  }



body{
  min-height: 100vh;
  background: radial-gradient(610px at 5.2% 51.6%, rgb(4, 4, 83) 0%, rgb(4, 4, 83) 97.5%);
}

.side-bar{
  background: rgba(245, 241, 241, 0.1);
  backdrop-filter:blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top:0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item{
  position:relative;
  cursor:pointer;
}

.side-bar .menu .item a{
  color: #fcfafa;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover{
  background: #a099a3;
  transition: 0.3s ease;

}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown{

  position: absolute;
  right:0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255,255,255 , 0.1);
  display:none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: #fffefe;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}


.menu-btn{
  position: absolute;
  color: #faf8f8;
  font-size: 20px;
  margin: 25px;
  cursor:pointer;
}